django
django-environ
django-debug-toolbar
django-extensions
django-import-export
django-simple-history
crispy-bootstrap5
xhtml2pdf
# Tests
coverage
pytest
pytest-sugar
pytest-django
django-tables2
django-filter
django-htmx
